In [13]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

df_dataset = pd.read_csv('base-hogares-2022.csv', sep=';')

df_dataset

/tmp/ipykernel_31919/2479029882.py:5: DtypeWarning: Columns (276,499) have mixed types. Specify dtype option on import or set low_memory=False.
  df_dataset = pd.read_csv('base-hogares-2022.csv', sep=';')

,ID_PER,WPER,CANT_MIEMBROS_HOGAR,CANT_PERSONAS0A17,CLIMA_EDUCATIVO,J_SEXO,J_EDAD,J_NIVEL_EDUCATIVO,SEXO_SEL,EDAD_SEL,...,ID_06B,ID_06C,ID_06D,ID_06E,ID_06F,ID_06G,ID_06H,ID_06I,ID_07,"ID_08,,,,,,,,,"
0,336578,124,1,0,2,1,27,4,1,27,...,4,2,2,1,1,99,2,3,1,"98,,,,,"
1,305909,781,1,0,3,1,33,6,1,33,...,2,2,1,3,2,3,2,4,2,",,,,,,,"
2,358892,34193,4,1,2,1,43,4,2,19,...,1,2,2,4,2,4,2,2,2,",,,,"
3,342664,968,1,0,3,2,51,6,2,51,...,1,4,4,1,1,1,1,1,2,",,,,,"
4,394688,11509,2,0,3,2,59,5,1,31,...,2,1,1,2,2,4,2,2,2,",,,,,,,,,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12057,350535,825,3,0,1,2,62,2,2,62,...,3,2,2,2,2,3,2,2,2,",,,,,,,,,"
12058,386729,504,2,0,1,2,63,5,2,63,...,99,3,2,2,2,2,2,3,2,",,,,,,,"
12059,373132,2895,2,0,2,1,37,4,1,37,...,2,2,2,1,1,3,2,3,2,",,,,,,,,,"
12060,313339,494,4,2,3,1,38,6,1,38,...,3,1,1,1,1,1,1,1,2,",,,,,"
12061,385880,210,1,0,1,2,73,2,2,73,...,3,3,3,1,2,3,2,2,2,",,,,,,,,,"

In [16]:
df_dataset.isna().sum()

ID_PER                 0
WPER                   0
CANT_MIEMBROS_HOGAR    0
CANT_PERSONAS0A17      0
CLIMA_EDUCATIVO        0
                      ..
ID_06G                 0
ID_06H                 0
ID_06I                 0
ID_07                  0
ID_08,,,,,,,,,         0
Length: 562, dtype: int64

In [18]:
df_dataset.shape

(12062, 562)